{% extends 'generic.html' %}

{% block content %}
    <div class="col-4 offset-4 card" style="padding: 60px 30px">
        <h2 class="text-center mb-5">Schemas</h2>
        <a href="{% url 'create-schema' %}" class="btn btn-success">New Schema</a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Modified</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for schema in user_schemas %}
                <div></div>
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ schema.schema_name }}</td>
                    <td>{{ schema.date_edit }}</td>
                    <td><a href="{% url 'update-schema' schema.id %}" class="btn btn-primary">Update</a>
                        <form method="post" action="{% url 'delete-schema' schema.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}