<nav class="navbar navbar-light bg-light ml-auto">
    <div class="align-center" style="padding: 0 20px">
        <span href='/' class="navbar-brand"><b>FakeCSV</b></span>
        <a href="{% url 'user-schemas' %}" class="black-link">Schemas</a>
    </div>
    <div>
        {% if user.is_authenticated %}
            <div class="nav-item">
                <form method="post" action="{% url 'user-logout' %}">
                    <span class="grey-color">Hello, <b>{{ user.get_username }}</b></span>
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="inline-button grey-color">Logout</button>
                </form>
            </div>
        {% else %}
            <div>Please log in</div>
        {% endif %}
    </div>
</nav>